<template>
  <div class="plans">
    <h1 class="page-header">Calculadora FaleMais</h1>
    <div class="form-input">
      <label for="">Selecione o DDD de origem</label>
      <el-select v-model="form.from" placeholder="Selecione">
        <el-option
          v-for="item in fromList"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </div>
    <div class="form-input">
      <label for="">Selecione o DDD de destino</label>
      <el-select v-model="form.to" placeholder="Selecione">
        <el-option
          v-for="item in fromList"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </div>

    <div class="form-input">
      <label for="">Digite a quantidade de minutos</label>
      <el-input-number v-model="form.minutes" :min="1"></el-input-number>
    </div>

    <div class="inquiry-question">
      Não encontrou seu DDD?
      <a href="#" @click="openInquiry()">Clique aqui</a>
      e seja avisado quando estiver disponível!
    </div>

    <transition name="fade" mode="out-in">
      <el-table v-if="searching && result.length > 0" :data="result" style="width: 90%">
        <el-table-column
          align="center"
          label="Origem"
          prop="from"
          :formatter="formatDDD"></el-table-column>
        <el-table-column
          align="center"
          label="Destino"
          prop="to"
          :formatter="formatDDD"></el-table-column>
        <el-table-column
          align="center"
          label="Tempo"
          prop="minutes"></el-table-column>
        <el-table-column
          align="center"
          label="Plano Fale Mais"
          prop="name"></el-table-column>
        <el-table-column
          align="center"
          label="Com Fale Mais"
          prop="withPlan"
          :formatter="formatMoney"></el-table-column>
        <el-table-column
          align="center"
          label="Sem Fale Mais"
          prop="withoutPlan"
          :formatter="formatMoney"></el-table-column>
      </el-table>
      <div class="not-found" v-else-if="searching && result.length === 0">
        Ops, ainda não fazemos ligações com esse DDD!
      </div>
    </transition>
    <inquiry-modal ref="inquiry" />
  </div>
</template>

<script>
import PlanService from '@/services/PlanService';
import FeeService from '@/services/FeeService';
import helpers from '@/mixins/helpers';
import InquiryModal from './InquiryModal';


export default {
  name: 'Calculator',
  components: {
    'inquiry-modal': InquiryModal,
  },
  data() {
    return {
      plans: [],
      fees: [],

      fromList: [],
      toList: [],

      form: {
        from: null,
        to: null,
        minutes: null,
      },

      result: [],
      searching: false,
    };
  },
  mounted() {
    this.getPlans();
    this.getFees();
  },
  watch: {
    form: {
      handler: function c() {
        this.calculate();
      },
      deep: true,
    },
  },
  methods: {
    openInquiry() {
      this.$refs.inquiry.open();
    },
    formatDDD(row, column) {
      return helpers.leftPad(row[column.property], 3, 0);
    },
    formatMoney(row, column) {
      return helpers.formatMoney(row[column.property]);
    },
    async getPlans() {
      const response = await PlanService.fetchPlans();
      this.plans = response.data;
    },
    async getFees() {
      const response = await FeeService.fetchFees();
      this.fees = response.data;
      this.fromList = [...new Set(this.fees.map(fee => fee.from))].sort((a, b) => b < a);
      this.toList = [...new Set(this.fees.map(fee => fee.to))].sort((a, b) => b < a);
    },
    calculate() {
      this.result = [];

      if (!this.form.from || !this.form.to || !this.form.minutes) {
        this.searching = false;
        return;
      }
      this.searching = true;

      this.plans.forEach(function a(plan) {
        const fee = this.findFee(this.form.from, this.form.to);
        if (!fee) return;

        const withoutPlan = fee * this.form.minutes;

        const extraMinutes = this.form.minutes - plan.minutes;
        const withPlan = extraMinutes > 0 ? extraMinutes * fee * 1.1 : 0;

        this.result.push({
          name: plan.name,
          from: this.form.from,
          to: this.form.to,
          minutes: this.form.minutes,
          withoutPlan,
          withPlan,
        });
      }, this);
    },
    findFee(from, to) {
      const fee = this.fees.find(val => val.from === from && val.to === to);
      return fee ? fee.value : null;
    },
  },
};
</script>

<style scoped>
.inquiry-question {
  font-size: 0.8em;
  margin: 20px 0;
}
.inquiry-question a {
  color: #2c3e50;
}
.not-found {
  font-weight: bold;
}
</style>
