<template>
  <div class="home">
    <calculator></calculator>
  </div>
</template>

<script>
// import FeesTable from './FeesTable';
// import PlansTable from './PlansTable';
import Calculator from './Calculator';

export default {
  name: 'Home',
  components: {
    // 'fees-table': FeesTable,
    // 'plans-table': PlansTable,
    calculator: Calculator,
  },
};
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
