<template>
  <el-dialog
    title="Seja avisado quando estiver disponível!"
    width="70%"
    :visible.sync="inquiryVisible">
    <el-form ref="inquiryForm" :rules="rules" :model="inquiryForm">
      <el-form-item label="Seu nome" prop="name">
        <el-input v-model="inquiryForm.name" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="Seu DDD" prop="ddd">
        <el-input v-model.number="inquiryForm.ddd" auto-complete="off" maxlength="2"></el-input>
      </el-form-item>
      <el-form-item label="Seu e-mail" prop="email">
        <el-input v-model="inquiryForm.email" auto-complete="off" type="email"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="inquiryVisible = false">Cancelar</el-button>
      <el-button
        type="primary"
        @click="submitForm()"
        v-loading.fullscreen.lock="fullscreenLoading">Enviar</el-button>
    </span>
  </el-dialog>
</template>

<script>
import InquiryService from '@/services/InquiryService';

export default {
  name: 'Calculator',
  data() {
    return {
      fullscreenLoading: false,
      inquiryVisible: false,
      formLabelWidth: '100%',
      inquiryForm: {
        name: '',
        ddd: '',
        email: '',
      },
      rules: {
        name: [
          { required: true, message: 'Digite seu nome', trigger: 'change' },
        ],
        ddd: [
          { required: true, message: 'Digite o DDD', trigger: 'change' },
          { type: 'number', message: 'O DDD deve conter apenas números', trigger: 'change' },
        ],
        email: [
          { type: 'email', required: true, message: 'Digite um e-mail válido', trigger: 'change' },
        ],
      },
    };
  },
  methods: {
    open() {
      this.inquiryVisible = true;
    },
    async submitForm() {
      this.$refs.inquiryForm.validate((valid) => {
        if (!valid) {
          return false;
        }

        this.inquiryVisible = false;
        this.fullscreenLoading = true;

        return InquiryService.create(this.inquiryForm)
          .then(() => {
            setTimeout(() => {
              this.fullscreenLoading = false;
              this.$alert('Sua indicação foi enviada!', 'Sucesso!', {
                confirmButtonText: 'OK',
              });
            }, 1 * 1000);
          })
          .catch(() => {
            setTimeout(() => {
              this.fullscreenLoading = false;
              this.$alert('Aconteceu um erro inesperado, tente novamente mais tarde!', 'Erro!', {
                confirmButtonText: 'OK',
              });
            }, 1 * 1000);
          });
      });
    },
  },
};
</script>
